.video-container{
    display: block;
    position: relative;
    background-color: black;
    min-height: calc(100vh - 50px);
    width: 100vw;
}

#minimized-container{
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
}
.minimized-video{
    width: 240px;
    height: 140px;
    display: block;
}
#remote{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.video-margin{
    margin: 10px 0;
}

@media only screen and (max-width : 992px) {
    .video-container {
        width: 100vw;
    }

}